<fieldset [formGroup]="form" class="form-control">
  <legend> Formation</legend>
  <div class="row">
    <div class="col">
      <label> Formation Professionnelle en </label>
    </div>
    
    <div class="col">
    <select (change)="onChangeFormation($event)">
      <option value='BTP' [selected]="candidat.formation.diplome_formation==='BTP'">مؤهل تقني مهني</option>
      <option value='BTS' [selected]="candidat.formation.diplome_formation==='BTS'  ">مؤهل تقني سامي</option>
      <option  value='CAP' [selected]="candidat.formation.diplome_formation==='CAP'"> مؤهل كفاءة مهنية </option>
    </select>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <label>Date de graduation</label>
      <input [(ngModel)]="candidat.formation.date_diplome_formation" type="date" formControlName="graduation" [ngClass]="{ 'errorx':  f['graduation'].dirty  &&f['graduation'].errors || f['graduation'].touched  &&f['graduation'].errors|| submitted&&f['graduation'].errors }">
      <div *ngIf="f['graduation'].invalid && (f['graduation'].dirty || f['graduation'].touched)">
        <span class="error text-danger">Date de graduation obligatoire.</span>
    </div>
    </div>
    <div class="col">
      <label>Moyenne</label>
      <input [(ngModel)]="candidat.formation.moyenne" type="text" formControlName="moy" [ngClass]="{ 'errorx':  f['moy'].dirty  &&f['moy'].errors || f['moy'].touched  &&f['moy'].errors || f['moy'].errors &&submitted }">
      <div *ngIf="f['moy'].invalid && (f['moy'].dirty|| submitted|| f['moy'].touched)">
  
        <span class="error text-danger"  *ngIf="f['moy'].errors?.['required']">
          Moyenne obligatoire.
        </span>
        <span class="error text-danger"  *ngIf="f['moy'].errors?.['max'] ||f['moy'].errors?.['min'] || f['moy'].errors?.['pattern']">
          Moyenne invalide
      </span>
    </div>
  </div>
  </div>
  <br>
  <div class="row">
    <div class="col">
      <label> Spécialité </label>
    </div>
    
    <div class="col">
    <select (change)="onChangeSpec($event)" >
      <option>اللحام والتركيب</option>
      <option>الإلكترونيك الصناعي</option>
      <option>صيانة أجهزة الميكروإعلامية</option>
      <option>الآلية و الإعلامية الصناعية</option>
      <option> إعلامية التصرف</option>
      <option>الصناعة الميكانيكية </option>
      <option>الكترونيك وكهرباء السيارات</option>
      <option>ميكانيك وكهرباء السيارات</option>
      <option>قيادة أنظمة الإنتاج</option>
      <option>الصيانة الإلكترونية للأنظمة الآلية</option>
      <option> الآلية والإعلامية الصناعية</option>
      <option> تقنيات الإنتاج للصناعة الإلكترونية</option>
      <option> استغلال الشبكات</option>
      <option>البنى التحتية والشبكات</option>
      <option>التصرف في الصيانة الصناعية</option>
      <option> المحاسبة والمالية</option>
      <option>الإلكترونيك الصناعي</option>
      <option>الإتصالات إختصاص الإعلامية</option>
    </select>
    </div>
  </div>
  <br>
</fieldset>