<!-- <script src="https://code.jquery.com/jquery-1.11.2.min.js"></script>
<script src="https://netdna.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
<script type="text/javascript" src="path/to/jquery.min.js"></script>
<script type="text/javascript" src="path/to/multiselect.min.js"></script>

<script type="text/javascript">
jQuery(document).ready(function($) {
	$('#multiselect').multiselect();
});
</script>

<div class="container">
  <div class="row">
          <div class="col-xs-5">
            <select (click)="onChange($event,2)" name="from" id="lstview" class="form-control" size="13" multiple="multiple">
              <option value="HTML">HTML</option>
              <option value="2">CSS</option>
              <option value="CSS">CSS3</option>
              <option value="jQuery">jQuery</option>
              <option value="JavaScript">JavaScript</option>
              <option value="Bootstrap">Bootstrap</option>
              <option value="MySQL">MySQL</option>
              <option value="PHP">PHP</option>
              <option value="JSP">JSP</option>
              <option value="Rubi on Rails">Rubi on Rails</option>
              <option value="SQL">SQL</option>
                          <option value="Java">Java</option>
                          <option value="Python">Python</option>
            </select>
          </div>
          
          <div class="col-xs-2">
            <button type="button" id="lstview_undo" class="btn btn-danger btn-block">undo</button>
            <button type="button" id="lstview_rightAll" class="btn btn-default btn-block"><i class="glyphicon glyphicon-forward"></i></button>
            <button type="button" id="lstview_rightSelected" class="btn btn-default btn-block"><i class="glyphicon glyphicon-chevron-right"></i></button>
            <button type="button" id="lstview_leftSelected" class="btn btn-default btn-block"><i class="glyphicon glyphicon-chevron-left"></i></button>
            <button type="button" id="lstview_leftAll" class="btn btn-default btn-block"><i class="glyphicon glyphicon-backward"></i></button>
            <button type="button" id="lstview_redo" class="btn btn-warning btn-block">redo</button>
          </div>
          
          <div class="col-xs-5">
            <select (click)="onChange($event,2)" name="to" id="lstview_to" class="form-control" size="13" multiple="multiple">

            </select>
          </div>
        </div>
  </div>
  
   -->