
<fieldset [formGroup]="form" class="form-control">
<legend>Etudes</legend>

  <div class="row">
    <div class="col">
<label>Niveau d'études</label>
    </div>
    <div class="col">
      <select  (change)="onChange($event)">
        <option [selected]="this.candidat.niveauEtude.niveau_candidat==='Superieur' ||this.candidat.niveauEtude===null">Superieur</option>
        <option [selected]="this.candidat.niveauEtude.niveau_candidat==='Primaire'" >Primaire</option>
        <option [selected]="this.candidat.niveauEtude.niveau_candidat==='Secondaire'">Secondaire</option>
        <option [selected]="this.candidat.niveauEtude.niveau_candidat==='Formation Professionnelle'">Formation Professionnelle</option>
      </select>
    </div>

  </div>
  <div class="row">
    <div class="col">
      <label>Section</label>
      <select (change)="onChangeSection($event)">
        <option [selected]="this.candidat.niveauEtude.specialite_etude==='Lettres' ||this.candidat.niveauEtude===null">Lettres</option>
        <option [selected]="this.candidat.niveauEtude.specialite_etude==='Sciences expérimentales'">Sciences expérimentales</option>
        <option [selected]="this.candidat.niveauEtude.specialite_etude==='Informatique'">Informatique</option>
        <option [selected]="this.candidat.niveauEtude.specialite_etude==='Economie et gestion'">Economie et gestion</option>
        <option [selected]="this.candidat.niveauEtude.specialite_etude==='Techniques'">Techniques</option>
        <option [selected]="this.candidat.niveauEtude.specialite_etude==='Mathématiques'">Mathématiques</option>
      </select>
    </div>
    <div class="col">
      <label>Date d'abondon scolaire</label>
      <input [value]="this.candidat.niveauEtude.date_rupture" [(ngModel)]="this.candidat.niveauEtude.date_rupture"  formControlName="date" type="date" [ngClass]="{ 'errorx': f['date'].touched  &&f['date'].errors||f['date'].errors&& submitted }">
      <div *ngIf="f['date'].invalid &&  f['date'].touched">
        <span class="error text-danger" *ngIf="f['date'].errors?.['required']">
          Date obligatoire.
        </span>
      </div>
    </div>

  </div>
</fieldset>
<app-superieur [candidat]="this.candidat" [form]="form" [submitted]="submitted" *ngIf="this.candidat.niveauEtude.niveau_candidat==='Superieur' ||this.candidat.niveauEtude.niveau_candidat===undefined ||this.candidat.niveauEtude.niveau_candidat===null"></app-superieur>
<app-formation [candidat]="this.candidat" [form]="form" [submitted]="submitted" *ngIf="this.candidat.niveauEtude.niveau_candidat==='Formation Professionnelle'"></app-formation>
