input[type=radio]{
    margin: 5px;
    height:35px;
    width:20px;
    vertical-align: middle;
}
.mat-radio-button ~ .mat-radio-button {
    margin-left: 16px;
  }
  label{
      margin-left:10px;
  }