

  <div class="container" >
    <div class="main">
      <div class="input-group">
        <input [(ngModel)]="word" (input)="listCandidat()" type="text" class="form-control" placeholder="Search For an Admin by Mat">
        <div class="input-group-append">
          <button class="btn btn-secondary" type="button">
            <i class="fa fa-search"></i>
          </button>
        </div>
      </div>
    </div>
    <form [formGroup]="form">

  <table class=" table table-stripped">
  <thead>
    <th>Matricule</th>
    <th colspan="2">ROLE</th>
  </thead>  
  <tbody>
    

     <tr *ngFor="let admin of c">
      <td>{{admin.matricule}}</td>
        <td colspan="2"> <select (change)="onChange($event)" style="
          text-align:center">
            <option value="admin" >ADMIN</option>
            <option value="mod">MODERATOR</option>
        </select></td>
        <td><button class="btn btn-danger"  (click)="deleteAdmin(admin.matricule)">Supprimer</button></td>

      <td><button class="btn btn-success"  (click)="modifierRole(admin.matricule)">Modifier</button></td>
    </tr> 
    <tr>
      <td> <input [(ngModel)]="matricule" formControlName="matricule" type="text"style="
        text-align:center" placeholder="MATRICULE">
      <div *ngIf="sub && f['matricule'].errors" class="d-block invalid-feedback">
        Invalid Matricule.
      </div>  
      </td>
        <td> <select (change)="onChange2($event)" style="
          text-align:center">
            <option value="admin">ADMIN</option>
            <option value="mod">MODERATOR</option>
        </select>
        <div *ngIf="sub && f['password'].errors" class="fake">
        hidden txt
      </div> 
      </td>
        <td><input [(ngModel)]="password" formControlName="password" placeholder="PASSWORD" type="text"style="
          text-align:center;">
                  <div *ngIf="sub && f['password'].errors" class="d-block invalid-feedback">
                    Invalid Password.
                  </div>          
        </td>

        <td><button type="button" class="btn btn-success" (click)="addAdmin()">Add Admin</button>

        </td>
    </tr>
  </tbody>
</table>
</form>

</div>
