input[type=button]{
    text-align: center;
    margin: 10px;
    background-color: #1448c1;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.button{
margin-top: 60px;
}
.col {
  text-align: center;
}

.error{
  background-color: #ffdddd;
  border: 1px solid #cc0033;
  margin-top: 5px;
}

.fl{
  margin: 25px;
}