<fieldset [formGroup]="form" class="form-control">
  <legend>Cas d'handicap:</legend>

<div  class="row">
  <div class="col"><label>Nombre de cas d'handicap</label>

    <select (change)="onChange($event);changeSize()">
      <option [selected]="candidat.hf.length===0|| candidat.hf===null||candidat.hf===undefined">0</option>
      <option [selected]="candidat.hf.length===1">1</option>
      <option [selected]="candidat.hf.length===2">2</option>
      <option [selected]="candidat.hf.length===3">3</option>
      <option [selected]="candidat.hf.length===4">4</option>
      <option [selected]="candidat.hf.length===5">5</option>

    </select>
    </div>
    <div class="col">
     
      </div>
</div>
<div *ngFor="let loop of array(this.selected);let i = index;"  class="row">
  <div class="col"><label>Numéro carte d'handicap </label>
    <input [value]="this.candidat.hf[i].carte_handicap" [(ngModel)]="this.candidat.hf[i].carte_handicap" [formControlName]="i+'handicap'" type="text"  [ngClass]="{ 'errorx': submitted &&f[i+'handicap'].errors ||f[i+'handicap'].dirty  &&f[i+'handicap'].errors || f[i+'handicap'].touched  &&f[i+'handicap'].errors }">
    <div *ngIf="f[i+'handicap'].invalid && (submitted||f[i+'handicap'].dirty || f[i+'handicap'].touched)">
      <span class="error text-danger" *ngIf="f[i+'handicap'].errors?.['required']">
        Numéro carte d'handicap obligatoire.
      </span>
      <span class="error text-danger" *ngIf="f[i+'handicap'].errors?.['pattern']">
        Numéro carte d'handicap invalide.
      </span>
    </div>  
</div>
<div class="col"><label>Degré</label>
  <select (change)="onChange2($event,i)">
    <label>Degré</label>
    <option [selected]="candidat.hf[i].degre==='1'"  value="1">Degré 1</option>
    <option [selected]="candidat.hf[i].degre==='2'" value="2">Degré 2</option>
    <option [selected]="candidat.hf[i].degre==='3'" value="3">Degré 3</option>
    </select>
  </div>
</div>
<br>
  </fieldset>