.cond{
    margin: auto;
    width: 60%;
    padding: 10px;
}
.info{
    display: flex;
    justify-content: center;
}
.list-group-item{
    text-align: center;
    vertical-align: middle;
    justify-content: center;
}