
  <div class="info">
    <ul class="list-group list-group-horizontal">
      <li class="list-group-item">    Numéro de carte d'identité nationale (CIN) :{{currentUser.cin}}
      </li>
      <li class="list-group-item">Region
        :Gafsa
      </li>
      <li class="list-group-item">Déligation :{{currentUser.delegation}}</li>
    </ul>
  </div>
<br>
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="cond">
      <app-info_prsonl [candidat]="this.candidat" [form]="form" [submitted]="submitted"></app-info_prsonl>
      <app-parent [candidat]="this.candidat" [form]="form" [submitted]="submitted"></app-parent>
      <app-frere [candidat]="this.candidat" [form]="form" [submitted]="submitted"></app-frere>
      <app-marie [candidat]="this.candidat" [form]="form" [submitted]="submitted" *ngIf="this.candidat.situation==='Marié'"></app-marie>
      <app-handicap [candidat]="this.candidat" [form]="form" [submitted]="submitted"></app-handicap>
      <app-enfant  *ngIf="this.candidat.situation!=='Célibataire'"></app-enfant>
      <app-niveau [candidat]="this.candidat" [form]="form" [submitted]="submitted"></app-niveau>
      <app-info [candidat]="this.candidat"  [form]="form" [submitted]="submitted"></app-info>
      <app-specialite [form]="form" [submitted]="submitted"></app-specialite>
      <input type="submit"  value="Submit" />
    </div>
  </form>