.lo{
  margin: auto;
  width: 50%;
  padding: 10px;

}
hr{
    border-width: 3px;
  
  }
  input[type=password]{
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    resize: vertical;
  
  }